<html>

<head>
  <title>Guest Book</title>
  <script src="guestBook.js"></script>
  <link rel="stylesheet" href="styles/guestBook.css">
</head>

<body>
  <header>
    <a href="./index.html">&lt&lt</a>
    <h1>Book</h1>
    <a href="/logout" id="logout">Log Out</a>
  </header>
  <div class="page-wrapper">
    <h2>Hello, __name__</h2>
    <h3>Leave a comment here.</h3>
    <form>
      <label for="comment">Comment:</label>
      <textarea name="comment" id="comment" cols="30" rows="5"></textarea>
      <input type="button" value="comment" onclick="postComment()">
    </form>
    <div id="comments">__comments__</div>
  </div>
</body>

</html>